---
const { variant = 'section' } = Astro.props;
---
<div class:list={['bubble-field', `bubble-field--${variant}`]} aria-hidden="true">
  <span class="bubble bubble--1"></span>
  <span class="bubble bubble--2"></span>
  <span class="bubble bubble--3"></span>
  <span class="bubble bubble--4"></span>
  <span class="bubble bubble--5"></span>
  <span class="bubble bubble--6"></span>
  <span class="bubble bubble--7"></span>
  <span class="bubble bubble--8"></span>
  <span class="bubble bubble--9"></span>
  <span class="bubble bubble--10"></span>
  <span class="bubble bubble--11"></span>
  <span class="bubble bubble--12"></span>
</div>
